<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="KeyScan Migration Test"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            tools:node="remove" />
        <activity
            android:name=".debug.DatabaseAuditActivity"
            tools:node="remove" />
        <activity
            android:name=".autofill.AutofillAuthActivity"
            tools:node="remove" />
        <activity
            android:name=".autofill.AutofillGuideActivity"
            tools:node="remove" />
        <service
            android:name=".autofill.KeyScanAutofillService"
            tools:node="remove" />

        <activity
            android:name=".migrationtest.MigrationTestActivity"
            android:exported="true"
            android:label="KeyScan Migration Test"
            android:theme="@style/Theme.CipherQR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
